# DO NOT COMMIT WITH ANY SENSITIVE INFO
# This file should contain only credentials for current app instance
# and should be uploaded directly to the server

parameters:
	database:
		host: '' # 127.0.0.1
		port: '' # 5432
		name: '' # database name
		user: '' # database user
		password: '' # database password
